.header {
	background-color: #f8f9fa;
	border: 1px solid #ced4da;
	padding: 10px 20px;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

input {
	border: 1px solid #ced4da;
	padding: 10px;
	width: 700px;
}

.label-auth {
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 20px;
}

.label-auth50 {
	margin-top: 10px;
	margin-bottom: 5px;

}

.footer {
	background-color: #f8f9fa;
	border: 1px solid #ced4da;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	bottom: 0;
}

.btn-create {
	color: #506ae3;
	background-color: white;
	border: 1px solid #ced4da;
	margin-left: 40px;
	margin-right: 20px;
	height: 30px;
}

.btn-login {
	background-color: #506ae3;
	color: white;
	border: 1px solid #ced4da;
	height: 30px;
}

.btn-cancel {
	height: 30px;
	border: 1px solid #ced4da;
	color: white;
	background-color: gray;

}

.form-body {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.page-sign {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.form-input, .form-label {
	width: 90%;
	margin-left: 20px; 
}

.username, .adress {
	width: 100%;
	display: flex;
	margin-left: 20px;
}

.name, .surname, .cp, .city {
	width: 50%;
}

.user-input {
	width: 80%;
}